Host Metadata does not conform to spec (/.well-known/host-meta)

The rfc6415 says that the Host Meta endpoints should provide by default XML and provide json format at the .json endpoint (e.g. /.well-known/host-meta.json). Currently pump.io only provides it in JSON format. 

[RFC6415](http://tools.ietf.org/html/rfc6415) section 2:

>  The host-meta document SHOULD be served with the
> "application/xrd+xml" media type.

The RFC6415 section 6.2 says the URI where JSON formatted version should reside. I'm guessing pump.io probably only provides JSON as that is the format provided throughout the pump.io APIs. The API documentation does note that pump.io supports only the xrd+jrd format, this is more a question on if we should provide XML too as section 2 does say we should?

Even if XML is not going to be served by default do you think we should 301 to /.well-known/host-meta.json (and then support the .json endpoint) to make it clearer to the client they are going to the JSON endpoint?
